.login {
    font-weight: bold;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #93ecee;
    background-image: linear-gradient(to right, #93ecee, #38dfe0, #26da3e, #108c2b);
    border-radius: 10px;
}

.login label{
    font-size: 25px;
    color: black;
}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;

}

.danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;

}